* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.ddns_go_manager {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.ddns_go_page_logo {
  width: 128px;
  height: 128px;
  background: url(../images/pagelogo.png) no-repeat;
  margin: 0px auto;
  margin-right: 60px;
  display: block;
}
.ddns-item-li .span_left {
  width: 150px;
}
